body {
  margin: 0px;
  padding: 0px;
}
.image-container {
  overflow: hidden;
  position: relative;
  }
 .pattern {
  height: auto;
  width: 100%;
 }
 .text-overlay {
  font-family: Helvetica;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: khaki; 
  padding: 10px;
  border-radius: 5px;
   }

.brushes {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}
.selling {
  font-family: Helvetica;
  color: blue;
  font-weight: bold;
}
.frames {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}
.paint {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}
