body {
  margin: 0px;
  padding: 0px;
}
.image-container {
  width: 100%; /* Set the desired container width */
  height: 400px; /* Set the desired container height */
  overflow: hidden;
  position: relative;
}

.image-container::after {
  content: "";
  display: block;
  padding-top: 100%; /* Adjust the padding to set the desired aspect ratio (height/width) */
}

.pattern {
  object-fit: cover;
  text-align: center;
  position: absolute;
  top: 0;
  left: 5;
  width: 100%;
  height: 100%;
}
 .text-overlay {
  font-family: Helvetica;
  font-size: 50px;
  position: absolute;
  left: 0%;
  color: khaki; 
  padding: 10px;
  border-radius: 5px;

   }

.brushes {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}
.selling {
  font-family: Helvetica;
  color: blue;
  font-weight: bold;
}
.frames {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}
.paint {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}
