body {
  margin: 0px;
  padding: 0px;
}
.image-container {
  position: relative;
}
.pattern {
 width: 100%;
  height: auto;
  display: block;
 }
 .text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-size: 51px;
  font-family: Rockwell;
}

.brushes {
  font-family: Copperplate;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color:  black;
  border: solid black;
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-left-style: none;
  border-right-style: none;
  padding: 20px;
  margin: 50px 50px;
}
.first-header {
  position: relative;
  left: 500px;
  bottom: 420px;
  font-size: 35px;
  font-family: Futura;
  text-align: left;

}
.first {
  position: relative;
  left: 500px;
  bottom: 370px;
  font-size: 30px;
  text-align: left;
  font-family: Rockwell;
}
.second-header {
  position: relative;
  left: 500px;
  bottom: 420px;
  font-size: 35px;
  font-family: Futura;
  text-align: left;
}
.second {
  position: relative;
  left: 500px;
  bottom: 370px;
  font-size: 30px;
  text-align: left;
  font-family: Rockwell;
}
.third-header { 
  position: relative;
  left: 500px;
  bottom: 420px;
  font-size: 35px;
  font-family: Futura;
  text-align: left;
}
.third {
  position: relative;
  left: 500px;
  bottom: 370px;
  font-size: 30px;
  text-align: left;
  font-family: Rockwell;
  }
.selling {
  font-family: Copperplate;
  color: lightblue;
  font-weight: bold;
}
.frames {
  font-family: Copperplate;
  font-size: 40px;
  font-weight: bold;
  color:  black;
  text-align: center;
  border: solid black;
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-left-style: none;
  border-right-style: none;
  padding: 20px;
  margin: 50px 50px;

}
.paint {
  font-family: Copperplate;
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-align: center;
  border: solid black;
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-left-style: none;
  border-right-style: none;
  padding: 20px;
  margin: 50px 50px;
}
.second-images {
  text-align: center;
  padding-left: 20px;
  height: 400px;
 }
